:root {
    --main: #f8de4b;
    --background: #f9f8ff;
    color: black;
    font-size: 30px;
  }

body {
   font-family: 'Darker Grotesque', sans-serif;
   background-color: var(--background);
  
}

/* large nav styles */

#nav-contain {
    display: flex;
    justify-content: left;
    margin-left: 10px;
    
}

#joey {
    font-weight: 900;
    font-size: 1.3em;
    margin-right: 1em;
}

#nav-list {
    display: flex;
    justify-content: left;
    align-items:flex-end
}

/* small nav styles */

#joey-s{
    font-weight: 900;
    font-size: 1.3em;
    margin-left: .265em;
    min-width: 182px;
}


#nav-list-s {
    margin-right: 45%;
    margin-top: 0vh;
    transition: margin-top 2s ease-in;
    display: none;
}

#nav-tiny {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-selector-s {
    display: flex;
    justify-content: flex-end;
}

#menu-select-s{
    font-size: 2em;
    margin-right: 25px;
    margin-top: 7px;
    max-height: 35px;
    max-width: 35px;
    border: none;
    background-color: var(--background);
    display: none;
    
}

/* menu icon of small nav */

#icon-container {
    display: inline-block;
    cursor: pointer;
  }

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

 /* basic styles of nav items  */

.nav-link{
    position: relative;
    font-weight: 600;
    margin-right: .75em;
    cursor: pointer;
   
}

/* orange underline of nav items */

.nav-link:after {
    content: '';
    position: absolute;
    top: 37.5px;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--main);
    opacity: 0;
    transition: opacity 600ms, transform 600ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
.nav-link:hover::after,
.nav-link:focus::after{
transform: scale(1); 
}

/* nav items in small version (defunct?) */

.nav-link-s{
    line-height: 2em;
    min-width: 140px;
   
}

/* Really just the resume nav item */

a {
    color: black;
}

/* active and inactive nav items */

.active{
    text-decoration: underline var(--main);
    text-underline-offset: 10px;
}

.inactive{
    text-decoration: none;
}

.active-s{
    text-decoration: none;
}

.inactive-s{
    text-decoration: none;
}

/* Things in main section  */

main {
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

p2 {
    font-size: 2em;
    text-align: right;
    padding-right: 15px;
    font-weight: 700;
}

/* about page  */

#about-page {
    width: 75%;
}

#about-section {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

#about-text {
    border-left: solid var(--main) 3px;
    padding-left: 25px;
}


#joey-photo {
    height: 250px;
    width: 250px;
}

/* work page */

#work-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    /* align-items: center; */
}


#grid-contain {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 48%;
    grid-template-columns: [first] 35% [second] 35% [third];
    grid-template-rows: [first] 250px [second] 250px [third] 250px [fourth] 250px [fifth];
    border-left: solid var(--main) 3px;
    padding-left: 25px;
}

#grid-contain a {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition-delay: 2s; */
    
}

/* #grid-contain a:hover,
#grid-contain a:focus{
    align-items: flex-start;
} */



.col-1-item {
    grid-column-start: first;
    grid-column-end: second;
}

.col-2-item {
    grid-column-start: second;
    grid-column-end: third;
    /* position: relative;
    height: 100%;
    width: 100%; */
}

.row-1-item {
    grid-row-start: first;
    grid-row-end: second;
}

.row-2-item {
    grid-row-start: second;
    grid-row-end: third;
}

.row-3-item {
    grid-row-start: third;
    grid-row-end: fourth;
}

.row-4-item {
    grid-row-start: fourth;
    grid-row-end: fifth;
}

.work-link {
    height: 100%;
    width: 100%;
}

.work-img {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    /* padding: 1px; */
    filter: blur(3px) grayscale(0%);
    transition: filter 1s ease;
}

#grid-contain a:hover > .work-img,
#grid-contain a:focus > .work-img {
    filter: blur(0px) grayscale(100%);
}

.work-title {
    position: absolute;
    /* max-height: 100%; */
    z-index: 3;
    font-weight: 800;
    font-size: 1.5em;
    color: black;
    padding-bottom: 10px;
    /* padding-left: 5px;
    padding-right: 5px; */
    width: 235px;
    text-align: center;
    background-color: var(--main);
    top: auto;
    transform: translateY(0);
    transition: transform 1s ease, color 1s ease, background-color 1s ease;
    /* background-color: #f8de4b6c; */
}
/* If title is too long */
.big-title {
    font-size: 1em;
    padding-top: 12.5px;
    padding-bottom: 12.5px;

}

#grid-contain a:hover > .work-title,
#grid-contain a:focus > .work-title {
    transform:translateY(-80%);
    color: var(--main);
    background-color: black;
    
}

.role-stack {
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
    width: 235px;
    position: absolute;
    color: var(black);
    z-index: 0;
    opacity: 0;
    font-size: .7em;
    background-color: var(--main);
    transition: opacity 1s ease 1.2s;
    display: flex;
    justify-content: flex-start;
}

/* for role-stack ul with too much text */
.big-role-stack {
    font-size: .6em;
}

#grid-contain a:hover > .role-stack,
#grid-contain a:focus > .role-stack {
    display: inline-block;
    z-index: 2;
    opacity: 1;
}

.role {
    text-align: left;
}

.stack {
    margin-top: 3%;
    text-align: left;
}

.in-development {
    margin-bottom: 5%; 
    text-align: center;
    font-weight: 700;
}

/* footer */

footer {
    margin-top: 75px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.footer-icon {
    height: 50px;
    width: 50px;
}
/* smaller-screen-specific styles */

@media only screen and (max-width: 790px) {
    #nav-list{
        display: none;
    }

    .nav-link{
        line-height: 1.5em;
    }

    #nav-contain{
        display: flex;
        justify-content: space-between;
        
    }

    #menu-select-s{
        display: inherit;
    }
}
