:root {
    --main: #f8de4b;
    --background: #f9f8ff;
    color: black;
    font-size: 30px;
  }

body {
   font-family: 'Darker Grotesque', sans-serif;
  
}

#nav-contain {
    display: flex;
    justify-content: left;
    margin-left: 10px;
    
}

#joey {
    font-weight: 900;
    font-size: 1.3em;
    margin-right: 1em;
}

#nav-list {
    display: flex;
    justify-content: left;
    align-items:flex-end
}


#joey-s{
    font-weight: 900;
    font-size: 1.3em;
    margin-left: .265em;
    min-width: 182px;
}
#nav-list-s {
    margin-right: 45%;
    margin-top: 0vh;
    transition: margin-top 2s ease-in;
    display: none;
}

#nav-selector-s {
    display: flex;
    justify-content: flex-end;
}

#menu-select-s{
    font-size: 2em;
    margin-right: 25px;
    margin-top: 15px;
    max-height: 35px;
    max-width: 35px;
    /* transform: rotate(180deg);
    transition: transform 1s; */
    display: none;
    
}

/* #nav-selector-s:focus {
   height: 100vh;
   width: 100vh;
} */

/* #nav-selector-s:focus #nav-list-s {
    display: initial;
    margin-top: 20vh;
}

#nav-selector-s:focus #menu-select-s {
  transform: rotate(0deg);
} */

.nav-link{
    font-weight: 600;
    margin-right: .75em;
   
}

.nav-link-s{
    line-height: 2em;
    min-width: 140px;
   
}

.active-s{
    text-decoration: none;
}

.inactive-s{
    text-decoration: none;
}

a {
    color: black;
}


.active{
    text-decoration: underline var(--main);
    text-underline-offset: 10px;
}

.inactive{
    text-decoration: none;
}

@media only screen and (max-width: 790px) {
    #nav-list{
        display: none;
    }

    #nav-contain{
        display: flex;
        justify-content: space-between;
        
    }

    #menu-select-s{
        display: inherit;
    }
}
