:root {
    --main: #f8de4b;
    --background: #f9f8ff;
    color: black;
    font-size: 30px;
  }



body {
   font-family: 'Darker Grotesque', sans-serif;
   background-color: var(--background);
  
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* indentation */

/* .indent {
    margin-left: 40px;
} */

/* large nav styles */

#nav-contain {
    display: flex;
    justify-content: left;
    margin-left: 10px;
    
}

#joey {
    font-weight: 900;
    font-size: 1.3em;
    margin-right: 1em;
}

#nav-list {
    display: flex;
    justify-content: left;
    align-items:flex-end
}

/* small nav styles */

#joey-s{
    font-weight: 900;
    font-size: 1.3em;
    margin-left: .265em;
    min-width: 182px;
}


#nav-list-s {
    margin-right: 45%;
    margin-top: 0vh;
    transition: margin-top 2s ease-in;
    display: none;
}

#nav-tiny {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#nav-selector-s {
    display: flex;
    justify-content: flex-end;
}

#menu-select-s{
    font-size: 2em;
    margin-right: 25px;
    margin-top: 7px;
    max-height: 35px;
    max-width: 35px;
    border: none;
    background-color: var(--background);
    display: none;
    
}

/* Fade in for small nav items */

#nav-tiny .nav-link {
    opacity: 0;
}

#nav-tiny .nav-link:nth-child(1){
    animation: 1.5s ease .4s normal forwards 1 fade-in;
}

#nav-tiny .nav-link:nth-child(2){
    animation: 1.5s ease .8s normal forwards 1 fade-in;
}

#nav-tiny .nav-link:nth-child(3){
    animation: 1.5s ease 1.2s normal forwards 1 fade-in;
}

#nav-tiny .nav-link:nth-child(4){
    animation: 1.5s ease 1.6s normal forwards 1 fade-in;
}

/* menu icon of small nav */

#icon-container {
    display: inline-block;
    cursor: pointer;
  }

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(0, 0, 0);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

 /* basic styles of nav items  */

.nav-link{
    position: relative;
    font-weight: 600;
    margin-right: .75em;
    cursor: pointer;
   
}

/* orange underline of nav items */

.nav-link:after {
    content: '';
    position: absolute;
    top: 37.5px;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--main);
    opacity: 0;
    transition: opacity 600ms, transform 600ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
  
.nav-link:hover::after,
.nav-link:focus::after{
transform: scale(1); 
}

/* nav items in small version (defunct?) */

.nav-link-s{
    line-height: 2em;
    min-width: 140px;
   
}

/* Really just the resume nav item */

a {
    color: black;
}

/* active and inactive nav items */

.active{
    text-decoration: underline var(--main);
    text-underline-offset: 10px;
}

.inactive{
    text-decoration: none;
}

.active-s{
    text-decoration: none;
}

.inactive-s{
    text-decoration: none;
}

/* Things in main section  */

main {
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

p2 {
    font-size: 2em;
    text-align: right;
    padding-right: 15px;
    font-weight: 700;
}

/* about page  */

#about-page {
    width: 75%;
}

#about-section {
    display: flex;
    justify-content: flex-start;
    opacity: 0;
    margin-top: 20px;
    animation: 1.5s ease .4s normal forwards 1 fade-in;
}

#about-text {
    border-left: solid var(--main) 3px;
    padding-left: 25px;
    opacity: 0;
    animation: 1.5s ease .4s normal forwards 1 fade-in;
}


#joey-photo {
    height: 250px;
    width: 250px;
    margin-bottom: 25px;
    animation: 1.2s ease 0s normal forwards 1 fade-in;
}

/* work page */

#work-page, #work-page-mobile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    animation: 1.2s ease 0s normal forwards 1 fade-in;
}



#grid-contain {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* max-height: 48%; */
    grid-template-columns: [first] 35% [second] 35% [third];
    grid-template-rows: [first] 250px [second] 250px [third] 250px [fourth] 250px [fifth];
    border-left: solid var(--main) 3px;
    /* padding-left: 1px; */
}

#grid-contain a {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    
}



.col-1-item {
    grid-column-start: first;
    grid-column-end: second;
}

.col-2-item {
    grid-column-start: second;
    grid-column-end: third;
    /* position: relative;
    height: 100%;
    width: 100%; */
}

.row-1-item {
    grid-row-start: first;
    grid-row-end: second;
    animation: 1.2s ease .4s normal forwards 1 fade-in;
}

.row-2-item {
    grid-row-start: second;
    grid-row-end: third;
    animation: 1.2s ease 1.1s normal forwards 1 fade-in;
}

.row-3-item {
    grid-row-start: third;
    grid-row-end: fourth;
    animation: 1.2s ease 1.8s normal forwards 1 fade-in;
}

.row-4-item {
    grid-row-start: fourth;
    grid-row-end: fifth;
    animation: 1.2s ease 2.5s normal forwards 1 fade-in;
}

.work-link {
    height: 100%;
    width: 100%;
}

.work-img {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
    filter: blur(3px) grayscale(0%);
    transition: filter 1s ease;
}

#grid-contain a:hover > .work-img,
#grid-contain a:focus > .work-img {
    filter: blur(0px) grayscale(100%);
}


.work-title {
    position: absolute;
    z-index: 3;
    font-weight: 800;
    font-size: 1em;
    color: black;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    width: 235px;
    text-align: center;
    background-color: var(--main);
    top: auto;
    transform: translateY(0);
    transition: transform 1s ease, color 1s ease, background-color 1s ease;
}

#grid-contain a:hover > .work-title,
#grid-contain a:focus > .work-title {
    transform:translateY(-80%);
    color: var(--main);
    background-color: black;
    
}

.role-stack, .role-stack-mobile {
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
    width: 235px;
    position: absolute;
    color: var(black);
    z-index: 0;
    opacity: 0;
    font-size: .6em;
    background-color: var(--main);
    transition: opacity 1s ease .7s;
    display: flex;
    justify-content: flex-start;
}

.role-stack-mobile {
    margin-top: 20px;
    padding-top: 50px;
}

#grid-contain a:hover > .role-stack,
#grid-contain a:focus > .role-stack,
#grid-contain a:hover > .role-stack-mobile,
#grid-contain a:focus > .role-stack-mobile {
    display: inline-block;
    z-index: 2;
    opacity: 1;
}

/* #grid-contain a:hover > .role-stack-click,
#grid-contain a:focus > .role-stack-click {
    display: none;
    z-index: 2;
    opacity: 1;
} */

.role {
    text-align: left;
}

.stack {
    margin-top: 3%;
    text-align: left;
}

.in-development {
    margin-bottom: 5%; 
    text-align: center;
    font-weight: 700;
}

/* contact page */

#contact-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    animation: 1.2s ease 0s normal forwards 1 fade-in;
}

#contact-label {
    width: 250px
}

#contact-form {
    display: flex;
    justify-content: flex-start;
    border-left: solid var(--main) 3px;
    padding-left: 25px;
}

#name-email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 283px;
    flex-wrap: wrap;
    opacity: 0;
    animation: 1.2s ease .4s normal forwards 1 fade-in;
}

#email-label {
    margin-top: 10%;
}

#message-contain {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 330px;
    height: 100%;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-bottom: 20px;
    animation: 1.2s ease 1.1s normal forwards 1 fade-in;
    opacity: 0;
}

#message-contain label {
    margin-bottom: 10px;
}

#message-input{
    width: 330px;
    max-height: 330px;
    min-height: 165px;
    bottom: 0;
    font-size: .75em;
}

#button-contain {
    display: flex;
    width: 100%;
    opacity: 0;
    align-items: flex-end;
    justify-content: flex-end;
    animation: 1.2s ease 1.8s normal forwards 1 fade-in;
}

.not-submitted {
    height: 30px;
    width: 150px;
    padding-bottom: 5px;
    padding-top: -150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9em;
    color: var(--background);
    background-color: black;
    border: none;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.23);
    border-radius: 3px;
}

.not-submitted:hover {
    background-color: rgb(49, 48, 48);
}
.not-submitted:active {
    box-shadow: inset 0px 0px 1px 1px var(--background);
}

.submitted {
    height: 30px;
    width: 150px;
    padding-bottom: 5px;
    padding-top: -150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .9em;
    color: var(--background);
    border: none;
    border-radius: 3px;
    background-color: black;
}


/* footer */

footer {
    bottom: 0;
    width: 98%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    /* opacity: 0;
    animation: 1.5s ease 1.8s normal forwards 1 fade-in; */
}

/* footer for work page so it doesn't appear mid-screen */
.work-footer {
    margin-top: 100px;
    position: relative;
}

.footer-icon {
    height: 50px;
    width: 50px;
}

/* small-mid-size screens */

@media only screen and (max-width: 983px) {
    
    /* contact page once it starts to get tight */

    #contact-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    #name-email {
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    
    #email-label {
        margin-bottom: 20px;
    }

    #name-label {
        margin-bottom: 20px;
    }

    #message-contain label {
        margin-bottom: 20px;
    }
    
    #message-contain {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
        margin-top: 10%;
    }
    
    #button-contain {
        margin-top: 10%;
        align-items: center;
        justify-content: center;
        
    }

    .footer-contact {
        margin-top: 100px;
        position: relative;
    }

    .footer-about {
        margin-top: 100px;
        position: relative;
    }
    
}

@media only screen and (max-width: 900px) {

    /* work page made into single column */

    #grid-contain {
        grid-template-columns: [first] 50% [second];
        grid-template-rows: [first] 250px [second] 250px [third] 250px [fourth] 250px [fifth] 250px [sixth] 250px [seventh] 250px [eighth] 250px [ninth];
    }

    
    .col-2-item {
        grid-column-start: first;
        grid-column-end: second;
    }

    .s-row-1 {
        grid-row-start: first;
        grid-row-end: second;
        animation: 1.2s ease .4s normal forwards 1 fade-in;
    }
    
    .s-row-2 {
        grid-row-start: second;
        grid-row-end: third;
        animation: 1.2s ease .8s normal forwards 1 fade-in;
    }
    
    .s-row-3 {
        grid-row-start: third;
        grid-row-end: fourth;
        animation: 1.2s ease 1.2s normal forwards 1 fade-in;
    }
    
    .s-row-4 {
        grid-row-start: fourth;
        grid-row-end: fifth;
        animation: 1.2s ease 1.6s normal forwards 1 fade-in;
    }

    .s-row-5 {
        grid-row-start: fifth;
        grid-row-end: sixth;
        animation: 1.2s ease 2s normal forwards 1 fade-in;
    }

    .s-row-6 {
        grid-row-start: sixth;
        grid-row-end: seventh;
        animation: 1.2s ease 2.4s normal forwards 1 fade-in;
    }

    .s-row-7 {
        grid-row-start: seventh;
        grid-row-end: eighth;
        animation: 1.2s ease 2.8s normal forwards 1 fade-in;
    }

    .s-row-8 {
        grid-row-start: eighth;
        grid-row-end: ninth;
        animation: 1.2s ease 3.2s normal forwards 1 fade-in;
    }

    /* centers about picture when screen is small enough */

    #about-page {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #joey-photo {
        margin-bottom: 50px;
    }


/* footer for about on smaller screens */

    .footer-about {
        margin-top: 100px;
        position: relative;
    }
}
/* smaller-screen-specific styles */

@media only screen and (max-width: 790px) {

    /* small nav styles */
    #nav-list{
        display: none;
    }

    .nav-link{
        line-height: 1.5em;
    }

    #nav-contain{
        display: flex;
        justify-content: space-between;
        
    }

    #menu-select-s{
        display: inherit;
    }

    /* work title moved to top */

    #work-page, #work-page-mobile {
        flex-direction: column;
        align-items: center;
    }

    #grid-contain {
        border-left: none;
        margin-top: 50px;
    }

    #work-label {
        width: 300px;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: solid var(--main) 3px;
    }

    /* about me for smaller screens */

    
    #about-section {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    #about-text {
        margin-top: 20px;
        border-left: none;
    }

    #about-label {
        border-bottom: solid var(--main) 3px;
        padding-bottom: 10px;
    }

    /* contact page small screen */

    #contact-page {
        flex-direction: column;
        align-items: center;
    }

    #contact-form {
        padding-left: 0;
        border-left: none;
    }
    
    #contact-label {
        width: auto;
        border-bottom: solid var(--main) 3px;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }

}

@media only screen and (max-width: 600px) {

    /* make work items larger on phone screens */
    #grid-contain {
        grid-template-columns: [first] 70% [second];
        grid-template-rows: [first] 200px [second] 200px [third] 200px [fourth] 200px [fifth] 200px [sixth] 200px [seventh] 200px [eighth] 200px [ninth];

    }
}
